<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                Registro
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}">
                    </div>
                     <div class="form-group">
                        <input type="email" class="form-control" name="correo" placeholder="Correo electronico" value="{{correo}}">
                    </div>
                     <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>
                     <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirme contraseña">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">SignUp</button>
                    </div>
                    <div class="form-group">
                        <a href="/users/signin">Inicio de sesion</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>